[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Nawal Kerkar (nanaker)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nawal Kerkar (nanaker)
	label-Verified = -1..+1 group user/Nawal Kerkar (nanaker)
	push = group user/Nawal Kerkar (nanaker)
	read = group user/Nawal Kerkar (nanaker)
	rebase = group user/Nawal Kerkar (nanaker)
	removeReviewer = group user/Nawal Kerkar (nanaker)
	submit = group user/Nawal Kerkar (nanaker)
[access "refs/heads/*"]
	create = group user/Nawal Kerkar (nanaker)
	push = +force group user/Nawal Kerkar (nanaker)
	pushMerge = group user/Nawal Kerkar (nanaker)
	read = group user/Nawal Kerkar (nanaker)
[access "refs/tags/*"]
	push = group user/Nawal Kerkar (nanaker)
	push = +force group user/Nawal Kerkar (nanaker)
